[submodule "external/newlib-cygwin"]
	path = external/newlib-cygwin
	url = https://gh.api.99988866.xyz//https://github.com/SmartPolarBear/newlib-cygwin.git
[submodule "external/libcxx"]
	path = external/libcxx
	url = https://mirrors.tuna.tsinghua.edu.cn/git/llvm/libcxx.git
[submodule "external/libcxxabi"]
	path = external/libcxxabi
	url = https://mirrors.tuna.tsinghua.edu.cn/git/llvm/libcxxabi.git
