[submodule "external/newlib/newlib"]
	path = external/newlib/newlib
	url = https://sourceware.org/git/newlib-cygwin.git
	branch = master
[submodule "external/llvm-project/llvm-project"]
	path = external/llvm-project/llvm-project
	url = https://mirrors.tuna.tsinghua.edu.cn/git/llvm-project.git
	branch = main
[submodule "external/ms-gsl/ms-gsl"]
	path = external/ms-gsl/ms-gsl
	url = https://github.com/microsoft/GSL.git
[submodule "libs/dbl"]
	path = libs/dbl
	url = https://github.com/SmartPolarBear/dionysus_baisc_library.git
	update = merge
[submodule "external/gtest/gtest"]
	path = external/gtest/gtest
	url = https://github.com/google/googletest.git
