[submodule "external/newlib/newlib"]
	path = external/newlib/newlib
	url = https://gh.api.99988866.xyz//https://github.com/SmartPolarBear/newlib-cygwin.git
[submodule "external/llvm-project/llvm-project"]
	path = external/llvm-project/llvm-project
	url = https://gitee.com/clevercoolbear/llvm-project.git
